$primary-color: #e62b4c;
$secondry-color:#212739;
$white-color:#ffffff;
$black-color:#212739;
$trans-color:transparent;
$icon-color: #ee6b82;
$gray-light: #e8e9eb;
$twitter-color: #1da1f2 ;
$facebook-color:#365899 ;
$pinterest-color:#d4193a;
$google-color: #d4193a;
$youtube-color:#cd201f;

$social-border-size:0.2rem solid $gray-light;
$primary-border:0.2rem solid $primary-color;
$white-border:0.2rem solid $white-color;
$rounded-radius:5rem;
$font-size:2.6rem;
$line-height:$font-size;
$font:'Cookie', cursive;

$items-box-height: 35rem;
$items-box-width:35rem;