@keyframes move {
    
    0%{
       transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes slide-show{
    10% {left:500px;}
  20% {left:500px;}
  30% {left:500px;}
  40% {left:500px;}
  50% {left:500px;}
  60% {left:500px;}
  70% {left:1000px;}
  80% {left:1000px;}
  90% {left:1000px;}
  100% {left:1000px;}
}